//===============================================================================
// FONTS
//===============================================================================

body, html {
	font-family: 'Avenir', helvetica, arial, sans-serif;
}


h1, h2, h3, h4 {
	max-width: 85%;
}

h1 {
	font-size: 64px;
	line-height: 68px;
	font-weight: 500;
	 margin: .5em 0;
}

h2 {
	font-size: 38px;
	line-height: 68px;
	font-weight: 500;
}

h3 {
	font-size: 28px;
	line-height: 40px;
	font-weight: 300;
}

h4 {
	font-size: 22px;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
}

p {
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
}

a {
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	position: relative;
	letter-spacing: .5px;
	margin-right: 1em;
	padding-bottom: 6px;

	&:before {
		content: "";
	  position: absolute;
	  width: 100%;
	  // width: 0%;
	  height: 1px;
	  bottom: 0;
	  left: 0;
	  background-color: white;
	  visibility: hidden;
	  transform: scaleX(0);
	  transition: all $vshort ease-in-out 0s;
	}
	
	&:hover {

		&:before {
			visibility: visible;
			transform: scaleX(1);
			// width: 100%;
		}
	}
}


.size-14 { font-size: 14px; }
.size-20 { font-size: 20px; }

.weight-300 { font-weight: 300; }
.weight-500 { font-weight: 500; }
.weight-700 { font-weight: 700; }

.text-orange { 
	color: $orange;
	&:before {
		background-color: $orange;
	}
}

.text-black { color: black; }
.text-white { color: white; }
.text-grey1{ color: $grey1; }
.text-grey2 { color: $grey2; }
.text-grey3 { color: $grey3; }

.uppercase { text-transform: uppercase }
.text-center { text-align: center; }

