//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


body {
  background-color: white;
  color: $grey1;
  width: 1440px;
  max-width: 1440px;
  background-color: $grey4;
  margin: 0 auto;
}

html {
	width: 100%;
}


//===============================================================================
// HOME STLYES
//===============================================================================

img { max-width: 100%; }
 
.img-full {
	max-width: auto;
	width: 100%;
}
 

div { position: relative; }

button {
	border: none;
  padding: 16px 28px;
  background: $grey3;
  color: black;
  box-shadow: inset 0 0 0 0 rgba($orange, 1);
  transition: all $short ease-in;

  &:hover {	box-shadow: inset 320px 0 0 0 rgba($orange, 1); }

  &:focus {	outline: 1px solid $orange; }
}




.nav-primary {  
	position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 16px 0;
  z-index: 999;
  transition: background-color $long ease;

  a {
  	color: white; 
  	display: inline-block;
  	text-align: right;
  	margin-right: 16px;
  	text-transform: uppercase;
  }

  .right-align {
  	float: right;
  	right: 7px;
  	top: 4px;

  	img {
  		height: 22px;
	    margin: -4px -7px 0 14px;
	    top: 9px;
	    display: inline-block;
	    vertical-align: middle;
  	}
  }
}


.content-wrap {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 30px;
	@include clearfix;
}

.content-wrap-2 {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 64px;
	@include clearfix;
}

.section-wrap {	
	padding: 90px 0 90px 0;
}

.video-wrap {
	position: relative;
	top: 0;
	width: 100%;

	.video-overlay {
		position: absolute;
		top: 0;
		width: 100%;
		background-color: black;
		height: 100%;
		opacity: 0;
		
		animation: overlay-darken 3s ease forwards;
	}


	.intro-framestore {
		position: absolute;
		bottom: -10px;
		left: 0;
		height: 120px;
		z-index: 100;

		img {
			margin: 28px 6px 0px 0;
			opacity: .7;
			transition: all $short ease;
			width: 80px;

			&.active, &:hover {
				opacity: 1;
				box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75)
			}
		}

		.frame-background {
			width: 50%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
		}

		p {
		 margin: 6px 0;
		 padding-left: 12px;
		}
	}
}

@keyframes overlay-darken {
	  0%   { opacity: 0; }
	  35%   { opacity: 0; }
	  100% { opacity: .2; }
}

.arrow-before {
	padding-left: 10px;
	position: relative;

	&:before {
		content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid $orange;
    left: 0;
    top: 8px;
    position: absolute;
	}
}

.intro-content {
	position: absolute;
	top: 160px;
	width: 100%;
	text-shadow: 0 0 12px rgba(0,0,0,.2);

	h1 {
		color: white;
		max-width: 85%;
	}
	
	@media screen and (max-width: 1350px) { top: 115px; }
	@media screen and (max-width: 1500px) { top: 140px; }
}

.bar-separator {
	width: 1px;
	background-color: $orange;
	height: 30px;
	margin: 0 24px 0 0;
	display: inline-block;
	vertical-align: bottom;
}

.secondary-nav-wrap {
	z-index: 600;
}

.nav-secondary {
  background-color: white;
  height: 60px;
  top: 40px;
	
	.menu-new { margin-top: 16px; }

	.nav-links-rhs {
		position: absolute;
		left: 50%;
    top: 0px;
    height: 60px;
		
		a {
			text-transform: uppercase;
			color: $grey1;
			display: inline-block;
			height: 100%;
			padding: 20px 0 0 0;
			margin: 0 16px 0 0;

			&:before { background-color: $grey1; }
		}
	}

	.hidden-menu-item {
		width: 90px;
		text-align: center;
		margin: 0 0 0 0 !important;
		opacity: 0;
		transition: all $short ease;
		height: 100%;
		display: inline-block;
		vertical-align: top;
		padding-top: 18px;
		background-color: $orange;

		position: absolute;
		right: 0;
		top: -30px;

		cursor: pointer;

		&:before { display: none; }
		
		&.item-1 {
			right: 90px;
			border-right: 1px solid $orange2;
		}

		.js-nav-container-adjust & {
			top: 0;
			opacity: 1;
		}

		// &:hover {
		// 	// box-shadow: inset 100px 0 0 0 rgba($grey3, 1);
		// 	background-color: $grey3;
		// }
	}
}

.hidden-menu-logo {
	position: absolute;
	left: 0px;
	top: -30px;
	background-color: white;
	width: 250px;
	height: 100%;
	z-index: 10;
	opacity: 0;
	transition: all $short ease;

	img {
		position: absolute;
    top: 10px;
    left: 26px;
	}

	.js-second-nav-stick & {
		opacity: 1;
		top: 0;
	}
}

.js-second-nav-stick {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 500;
  width: 100%;
}

.js-nav-container-adjust { padding-bottom: 160px; }

.mini-nav-links {
	a {
			text-transform: uppercase;
			color: $grey1;
			&:before { background-color: $grey1; }
		}
}


.full-width-content-2 {
	@include clearfix;

	img {
		max-width: auto;
		width: 100%;
	}
}

.feature-block-grey {
	margin: 50px 0;
  padding: 0 16px 0 0;
  height: 250px;

	h1,h2,h3,h4 { 
		color: $grey3; 
	}
	p { 
		color: $grey2;
	}

	img {
		width: 50px;
		height: 50px;
	}
}

.arrow-icon, .arrow-icon-orange, .arrow-icon-white {
	width: 10px;
	height: 1px;
	background-color: $grey1;
	position: relative;
	right: -8px;
	top: -4px;
	display: inline-block;
	margin-right: 12px;

	&:before {
		content: "";
		display: block;
		width: 7px;
		height: 7px;
		position: absolute;
		right: 0;
		top: -3px;
		border-top: 1px solid $grey1;
		border-right: 1px solid $grey1;
		transform: rotate(45deg);
	}
}

.arrow-icon-orange {
	background-color: $orange;

	&:before {
		border-top: 1px solid $orange;
		border-right: 1px solid $orange;
	}
}

.arrow-icon-white {
	background-color: white;

	&:before {
		border-top: 1px solid white;
		border-right: 1px solid white;
	}
}


.parallax-img-wrap {
	width: 60%;
	margin: 0 auto;

	img {
		position: absolute;
		left: 0;

		&:nth-of-type(3) { 
			top: 140px;
		}

		&:nth-of-type(2) { 
			top: 60px;
			width: 75%;
			margin: 0 12.5%;
		}

		&:nth-of-type(1) { 
			top: -40px;
			width: 50%;
			margin: 0 25%;
		}
	}
}

.white-bar-bottom { 
	width: 50%;
	height: 90px;
	background-color: white;
	position: absolute;
	left: 0;
	bottom: 0;
}

.node-img-wrap {
	width: 100%;
	height: 350px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 33%;
	overflow: hidden;
}

.node-controls-wrap {
	margin: 0 0 36px 0;

	p {
		display: inline-block;
		margin: -2px 9px 0 9px;
    vertical-align: top;
	 }
}

.three-vid-wrap {
	width: 100%;
	overflow-x: hidden;

	img {
		max-width: 130%;
    margin-left: -15%;
    text-align: center;
    margin-top: 100px;
    width: 130%;
	}
	
}

.nuke-img-wrap { left: 95px; }


.lhs-45, .rhs-45 {
	width: 45%;
	height: 500px;
}

.rhs-55, .lhs-55 {
	width: 55%;
	height: 500px;
	text-align: center;
}

.rhs-45, .rhs-55, .rhs-40, .rhs-60 { float: right; }

.lhs-45, .lhs-55, .lhs-40, .lhs-60 { float: left; }

.lhs-45, .lhs-55 { padding-right: 85px; }

.rhs-45 { padding-left: 10%; }


.lhs-40, .rhs-40 {
	width: 40%;
	height: 600px;
}

.lhs-60, .rhs-60 {
	width: 60%;
	height: 600px;
}

.home-link, .product-link { cursor: pointer; }

.content-overlay-wrap {
	position: absolute;
	width: 100%;
	top: 0;
}

.double-section-wrap {
	height: 500px;
	overflow: hidden;
	padding-top: 80px;
}

.img-squares {
	height: 500px;
	position: absolute;
	right: 0;
}

.img-lower-rhs {
	position: absolute;
	right: -64px;
	top: 170px;
}

.img-upper-lhs {
	position: absolute;
	left: -64px;
	top: -60px;
}

.margin-left-img { 	margin-left: 76px; }


.hidden-video { display: none; }

.cost-option-wrap {
	margin-top: 24px;
	
	img {
		width: calc(33% - 10px);
	}
	img:nth-of-type(1) {	
		margin-right: 15px;
	}
	img:nth-of-type(2) {
		margin-right: 15px;
	}
	img:nth-of-type(3) {
		margin-right: 0;
	}
	margin-bottom: 26px;
}

.help-img {
	position: absolute;
	height: 650px;
	top: 0;
	right: 0;
}

.vr-text {
	position: absolute;
	top: 470px;
	left: 64px;
	max-width: 45%;
}

.comunity-img {
	position: absolute;
  top: -120px;
  right: 0;
}

.community-questions {
	position: absolute;
	bottom: -160px;
	left: 0;
}

.siggraph-text {
	position: absolute;
	width: 50%;
	margin: 0 25%;
	top: 270px;

	h1, h2, h3, h4, p, a {
		max-width: 100%;
	}
}


.width-1440 {
	width: 1440px;
	max-width: 1440px;
	margin: 0 auto;
}

.canvas-video {
	width: 100%;
	height: 400px;
}

.hidden-1, .hidden-2, .hidden-3, .hidden-4, .hidden-5 {
	animation: all $long ease-in-out;
	opacity: 0;
	transform: translate(0,-16px);
	// filter: blur(10px);
}

.hidden-6 {
	opacity: 0;
	animation: revealMenu $med 0.7s forwards ease;
}

@keyframes revealMenu {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.float-right-link{
	float: right;
	margin-top: 4px;
}

.hide-over-x { 
	overflow-x: hidden;
	width: 100%;
}

.min-h-200 { min-height: 200px; }

.height-650 {
	height: 650px;
	min-height: 650px;
}


// ***************** MENU ***************** //
.nav-1-wrap {
	position: fixed;
	width: 100%;
	height: 310px;
	left: 0;
	top: -310px;
  padding: 60px 0;
  z-index: 550;
  display: block;
  opacity: 1;
}

.nav-2-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0px;
  padding: 0 0;
  z-index: 0;
  display: block;
  opacity: 0;
}

.js-z550 { z-index: 650; }

.js-z0 { z-index: 0; }


.nav-prod-wrap {
	height: calc(100% - 140px);
	display: flex;
	flex-direction: column;
}

.menu-item-wrap {
	display: flex;
  flex-direction: column;
  flex: 1;
  cursor: pointer;

  &:hover {	.menu-row-bg { opacity: 0.9; } }
}

.menu-logo {
	height: 34px;
	position: absolute;
  left: 30px;
  top: 24px;
  top: calc(50% - 17px);
}

.menu-subtext {
	font-size: 16px;
	color: white;
	position: absolute;
  right: 42px;
  height: 30px;
  top: calc(50% - 15px);
  margin: 0;
}

.new-release {
	margin-left: 16px;
	font-weight: 700;
	color: $orange;

	&:before {
		content: "";
	  position: absolute;
	  width: 113px;
	  height: 2px;
	  bottom: 2px;
	  right: 0;
	  background-color: $orange;
	  transform: scaleX(1);
	}
}


.bg-nuke { background: url(../img/menu-bg/bg-nuke.png) no-repeat center; }
.bg-colorway { background: url(../img/menu-bg/bg-colorway.png) no-repeat center; }
.bg-flix { background: url(../img/menu-bg/bg-flix.png) no-repeat center; }
.bg-hiero { background: url(../img/menu-bg/bg-hiero.png) no-repeat center; }
.bg-katana { background: url(../img/menu-bg/bg-katana.png) no-repeat center; }
.bg-mari { background: url(../img/menu-bg/bg-mari.png) no-repeat center; }
.bg-modo { background: url(../img/menu-bg/bg-modo.png) no-repeat center; }

.menu-row-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity: 0.1;
	transition: opacity $short ease-in-out;
}


.js-open-marker {
	.menu-item-wrap {
		transform: translateY(-30px);
		opacity: 0;
		// animation: all 0.3s ease-in-out;
		&:nth-of-type(0){ animation: moveDown 0.3s 0s forwards ease-in-out; }
		&:nth-of-type(1){ animation: moveDown 0.3s 0.05s forwards ease-in-out; }
		&:nth-of-type(2){ animation: moveDown 0.3s 0.1s forwards ease-in-out; }
		&:nth-of-type(3){ animation: moveDown 0.3s 0.15s forwards ease-in-out; }
		&:nth-of-type(4){ animation: moveDown 0.3s 0.2s forwards ease-in-out; }
		&:nth-of-type(5){ animation: moveDown 0.3s 0.25s forwards ease-in-out; }
		&:nth-of-type(6){ animation: moveDown 0.3s 0.3s forwards ease-in-out; }	
		&:nth-of-type(7){ animation: moveDown 0.3s 0.35s forwards ease-in-out; }		
	}
}

@keyframes moveDown {
	  0%   { 
	  	transform: translateY(-30px);
	  	opacity: 0;
	  	}
	  100% {
	  	transform: translateY(0px);
	  	opacity: 1;
	  }
}


// ***************** END MENU ***************** //






.full-height { height: 100%; }

.text-swap {
	text-align: left;

	&:before {
		animation: textSwapping 3s alternate infinite;
		content: '_Explosions';
		display: inline-block;
		width: 300px;
		text-align: left;
	}
}

@keyframes textSwapping {
	  0%   { content: '_Explosions'; }
	  15%   { content: '_Explosions'; }
	  18%   { content: '_Explosion'; }
	  21% { content: '_Explosio'; }
	  24% { content: '_Explosi'; }
	  27% { content: '_Explos'; }
	  30% { content: '_Explo'; }
	  33% { content: '_Expl'; }
	  36% { content: '_Exp'; }
	  39% { content: '_Ex'; }
	  41% { content: '_E'; }
	  44% { content: '_'; }
	  64% { content: '_'; }
	  67% { content: '_E'; }
	  70% { content: '_Ex'; }
	  73% { content: '_Exp'; }
	  76% { content: '_Expe'; }
	  79% { content: '_Exper'; }
	  82% { content: '_Expert'; }
	  85% { content: '_Experts'; }
	  100% { content: '_Experts'; }
}



// ***************** LOADER ***************** //
.cover {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: white;
	z-index: 1000;
}

.loader {
  box-sizing: border-box;
  display: block;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

@-webkit-keyframes cube-transition {
  25% {
    -webkit-transform: translateX(50px) scale(0.5) rotate(-90deg);
            transform: translateX(50px) scale(0.5) rotate(-90deg); }
  50% {
    -webkit-transform: translate(50px, 50px) rotate(-180deg);
            transform: translate(50px, 50px) rotate(-180deg); }
  75% {
    -webkit-transform: translateY(50px) scale(0.5) rotate(-270deg);
            transform: translateY(50px) scale(0.5) rotate(-270deg); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

@keyframes cube-transition {
  25% {
    -webkit-transform: translateX(50px) scale(0.5) rotate(-90deg);
            transform: translateX(50px) scale(0.5) rotate(-90deg); }
  50% {
    -webkit-transform: translate(50px, 50px) rotate(-180deg);
            transform: translate(50px, 50px) rotate(-180deg); }
  75% {
    -webkit-transform: translateY(50px) scale(0.5) rotate(-270deg);
            transform: translateY(50px) scale(0.5) rotate(-270deg); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

.cube-transition {
  position: relative;
  -webkit-transform: translate(-25px, -25px);
      -ms-transform: translate(-25px, -25px);
          transform: translate(-25px, -25px); }
  .cube-transition > div {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: $grey0;
    -webkit-animation: cube-transition 1.6s 0s infinite ease-in-out;
            animation: cube-transition 1.6s 0s infinite ease-in-out; }
    .cube-transition > div:last-child {
      -webkit-animation-delay: -0.8s;
              animation-delay: -0.8s; }

// ***************** END LOADER ***************** //









.js-back-black { background-color: black; }







.max-w-100perc { max-width: 100%; }
.max-w-70perc { max-width: 70%; }

.back-white { background-color: white; }
.back-orange { background-color: $orange; }
.back-orange2 { background-color: $orange2; }
.back-grey0 { background-color: $grey0; }
.back-grey05 { background-color: $grey05; }
.back-grey1 { background-color: $grey1; }
.back-grey2 { background-color: $grey2; }
.back-grey25 { background-color: $grey25; }
.back-grey3 { background-color: $grey3; }
.back-grey4 { background-color: $grey4; }
.back-grey5 { background-color: $grey5; }
.back-black { background-color: black; }

.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-70 { margin-top: 70px; }
.margin-top-80 { margin-top: 80px; }
.margin-top-90 { margin-top: 90px; }
.margin-top-100 { margin-top: 100px; }
.margin-top-160 { margin-top: 160px; }
.margin-top-m2 { margin-top: -2px; }
.margin-top-m10 { margin-top: -10px; }
.margin-top-m20 { margin-top: -20px; }
.margin-top-m30 { margin-top: -30px; }
.margin-top-m300 { margin-top: -300px; }
.margin-bot-36 { margin-bottom: 36px; }
.margin-bot-50 { margin-bottom: 50px; }
.margin-bot-60 { margin-bottom: 60px; }
.margin-bot-90 { margin-bottom: 90px; }
.margin-bot-100 { margin-bottom: 100px; }
.margin-bot-160 { margin-bottom: 160px; }

.margin-right-16-0 { margin: 0 16px 0 0; }

.padding-top-bottom-big { padding: 190px 0; }

.padding-top-0 { padding-top: 0; }
.padding-top-50 { padding-top: 50px; }
.padding-top-90 { padding-top: 90px; }
.padding-bottom-50 { padding-bottom: 50px; }

.inline-block { display: inline-block; }

.clearfix { @include clearfix; }

// .bar-after { border-right: 1px solid $orange; }
// .margin-r-1em { margin-right: 1em; }

