//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


body {
  background-color: white;
  color: $grey1;
}

html, body {
	width: 100%;
}


//===============================================================================
// HOME STLYES
//===============================================================================

img { max-width: 100%; }
 
.img-full {
	max-width: auto;
	width: 100%;
}
 

div { position: relative; }

button {
	border: none;
  padding: 8px 16px;
  background: $grey3;
  color: black;
  box-shadow: inset 0 0 0 0 rgba($orange, 1);
  transition: all $short ease-in;

  &:hover {	box-shadow: inset 250px 0 0 0 rgba($orange, 1); }

  &:focus {	outline: 1px solid $orange; }
}




.nav-primary {  
	position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 16px 0;
  z-index: 999;
  transition: background-color $long ease;

  a {
  	color: white; 
  	display: inline-block;
  	text-align: right;
  	margin-right: 16px;
  	text-transform: uppercase;
  }

  .right-align {
  	position: absolute;
  	right: 16px;
  	top: 4px;

  	img {
  		height: 22px;
	    margin: -4px 9px 0 14px;
	    top: 9px;
	    display: inline-block;
	    vertical-align: middle;
  	}
  }
}


.content-wrap {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 32px;
	@include clearfix;
}

.section-wrap {	margin: 0 0 120px 0; }

.video-wrap {
	position: relative;
	top: 0;
	width: 100%;

	.video-overlay {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: black;
		height: 100%;
		opacity: 0;
		
		animation: overlay-darken 3s ease forwards;
	}


	.intro-framestore {
		position: absolute;
		bottom: -10px;
		left: 0;
		height: 120px;
		z-index: 100;

		img {
			margin: 16px 16px 4px 0;
			opacity: .7;
			transition: all $short ease;

			&.active, &:hover {
				opacity: 1;
				box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75)
			}
		}

		.frame-background {
			width: 50%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
		}

		p {
		 margin: 6px 0;
		 padding-left: 12px;
		}
	}
}

@keyframes overlay-darken {
	  0%   { opacity: 0; }
	  35%   { opacity: 0; }
	  100% { opacity: .2; }
}

.arrow-before {
	padding-left: 10px;
	position: relative;

	&:before {
		content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid $orange;
    left: 0;
    top: 8px;
    position: absolute;
	}
}

.intro-content {
	position: absolute;
	top: 160px;
	width: 100%;
	text-shadow: 0 0 12px rgba(0,0,0,.7);

	h1 {
		color: white;
		max-width: 85%;
	}
	
	@media screen and (max-width: 1350px) { top: 115px; }
	@media screen and (max-width: 1500px) { top: 140px; }
}

.bar-separator {
	width: 1px;
	background-color: $orange;
	height: 30px;
	margin: 0 24px 0 0;
	display: inline-block;
	vertical-align: bottom;
}

.nav-secondary {
	padding-top: 24px;
  background-color: white;

	.nav-links-rhs {
		float: right;
    top: 18px;
		
		a {
			text-transform: uppercase;
			color: $grey1;

			&:before { background-color: $grey1; }
		}
	}
}

.js-second-nav-stick {
	// padding-top: 3px;
  background-color: white;
  position: fixed;
  top: 38px;
  z-index: 500;
  width: 100%;
}

.js-nav-container-adjust { padding-bottom: 80px; }

.mini-nav-links {
	a {
			text-transform: uppercase;
			color: $grey1;

			&:before { background-color: $grey1; }
		}

		& .active-link:before { 
			background-color: $orange;
			visibility: visible;
			transform: scaleX(1);
		}
}



.full-width-content-2 {
	@include clearfix;

	img {
		max-width: auto;
		width: 100%;
	}
}

.feature-block-grey {
	margin: 50px 0;
  	padding: 0 16px 0 0;

	h1,h2,h3,h4 { 
		color: $grey3; 
	}
	p { 
		color: $grey2;
	}

	img {
		width: 50px;
		height: 50px;
	}
}

.arrow-icon {
	width: 10px;
	height: 1px;
	background-color: $grey1;
	position: relative;
	right: -8px;
	top: -4px;
	display: inline-block;
	margin-right: 12px;

	&:before {
		content: "";
		display: block;
		width: 7px;
		height: 7px;
		position: absolute;
		right: 0;
		top: -3px;
		border-top: 1px solid $grey1;
		border-right: 1px solid $grey1;
		transform: rotate(45deg);
	}

}


.parallax-img-wrap {
	width: 60%;
	margin: 0 auto;

	img {
		position: absolute;
		left: 0;

		&:nth-of-type(3) { 
			top: 140px;
		}

		&:nth-of-type(2) { 
			top: 60px;
			width: 75%;
			margin: 0 12.5%;
		}

		&:nth-of-type(1) { 
			top: -40px;
			width: 50%;
			margin: 0 25%;
		}
		
	}
}



.hidden-video { display: none; }

.canvas-video {
	width: 100%;
	height: 400px;
}


.hidden-1, .hidden-2, .hidden-3, .hidden-4 {
	animation: all $long ease-in-out;
	opacity: 0;
	// filter: blur(10px);
}


.min-h-200 { min-height: 200px; }

.back-white { background-color: white; }
.back-grey0 { background-color: $grey0; }
.back-black { background-color: black; }

.margin-top-60 { margin-top: 60px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-m10 { margin-top: -10px; }
.margin-top-m20 { margin-top: -20px; }
.margin-top-m30 { margin-top: -30px; }
.margin-bot-50 { margin-bottom: 50px; }

.padding-top-50 { padding-top: 50px; }
.padding-bottom-50 { padding-bottom: 50px; }

.inline-block { display: inline-block; }

.clearfix { @include clearfix; }

// .bar-after { border-right: 1px solid $orange; }
// .margin-r-1em { margin-right: 1em; }

