
.mobile { 
@media screen and (max-width: 700px) {
	
	width: 100%;
	
	h1, h2, h3, h4 { max-width: 95%; }

	h1 {
		font-size: 42px;
		line-height: 45px;
	}

	h2 {
		font-size: 28px;
		line-height: 35px;
	}

	h3 {
		font-size: 20px;
		line-height: 30px;
	}

	.right-align a { display: none; }

	.mobile-only { display: inline-block; }
	.non-mobile { display: none; }

	.content-wrap, .content-wrap-2 { padding: 0 16px; }

	.section-wrap { padding: 60px 0; }


	.mobile-menu-wrap {
		width: 90px;
		cursor: pointer;

		img {
			position: absolute;

			&:nth-of-type(1) {
    		top: 7px;
    		left: 0;
			}

			&:nth-of-type(2) {
    		top: -4px;
    		left: 36px;
			}
		}
	}

	.menu-subtext { display: none; }

	.intro-content { top: 80px; }
	
	.intro-framestore {
		
		height: 100px;

		.frame-background { min-width: 262px; }

		img { 
			width: 70px;
			margin: 16px 6px 0px 0;
		}

		p {
		 margin: 0 0;
		 padding: 0;
		 &:before { display: none; }
		}
	}

	.lhs-45, .lhs-55, .lhs-40, .lhs-60, .rhs-45, .rhs-55, .rhs-40, .rhs-60 { 
		width: 100%;
		float: left; 
		height: auto;
	}

	.lhs-60 { text-align: right; }

	.img-lower-rhs {
		position: relative;
		left: 0;
		top: 60px;
		width: calc(100% + 16px);
		max-width: calc(100% + 16px);
	}

	.margin-top-90 { margin-top: 0; }
	.margin-top-100 { margin-top: 0; }
	.margin-bot-160 { margin-bottom: 0; }

	.img-upper-lhs {
		position: relative;
		bottom: -60px;
		left: -16px;
		width: calc(100% + 16px);
    max-width: calc(100% + 16px);
	}

	.sparkle-mobile {
		img {	width: 100%;}
	}

	.mobile-vr-wrap {
		margin-top: 100px;
		
		img {	width: 100%;}

		.vr-text-mobile-wrap {
			padding-top: 30px;
			padding-bottom: 90px;
			margin-top: -8px;
		}
	}

	.width-100 { 
		width: 100%; 
		max-width: 100%;
	}
	
	.community {
		text-align: center; 
		margin-bottom: 200px;

		img {
			margin-top: 60px;
		}

		a { margin-right: 0;}
	}

	.community-q-mob {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.footer { width: 100%; }
} //end media query	
} //end mobile


.mobile-only { display: none; }