
//===============================================================================
// VARIABLES
//===============================================================================

$orange: #FCB434;
$orange2: #D6931E;
$grey0: #272727;
$grey05: #303030;
$grey1: #494845;
$grey2: #828282;
$grey25: #D8D8D8;
$grey3: #EAEAEA;
$grey4: #F0F0F0;
$grey5: #F5F5F5;



$vshort: 0.2s;
$short: 0.3s;
$med: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





