
//===============================================================================
// VARIABLES
//===============================================================================

$orange: #FCB434;
$grey0: #272727;
$grey1: #494845;
$grey2: #828282;
$grey3: #EAEAEA;



$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





